{
  "$schema": "https://swc.rs/schema.json",
  "sourceMaps": true,
  "module": {
    "type": "commonjs"
  },
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "baseUrl": "../../dist/apps/auth",
    "paths": {
      "@monorepo/shared": ["../../libs/shared/index.js"],
      "@monorepo/shared/*": ["../../libs/shared/*"]
    }
  },
  "minify": false
}
